In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
train_data = pd.read_csv('/content/train.csv')
test_data = pd.read_csv('/content/test.csv')

In [3]:
train_data.shape

(1460, 81)

In [4]:
test_data.shape

(1459, 80)

In [11]:
train_data.isnull().sum()/len(train_data)*100

Id                0.000000
MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
Length: 81, dtype: float64

In [10]:
test_data.isnull().sum()/len(test_data)*100

Id                0.000000
MSSubClass        0.000000
MSZoning          0.274160
LotFrontage      15.558602
LotArea           0.000000
                   ...
MiscVal           0.000000
MoSold            0.000000
YrSold            0.000000
SaleType          0.068540
SaleCondition     0.000000
Length: 80, dtype: float64

In [7]:
train_data.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [9]:
train_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,1460.0,730.500000,421.610009,1.0,365.75,730.5,1095.25,1460.0
MSSubClass,1460.0,56.897260,42.300571,20.0,20.00,50.0,70.00,190.0
LotFrontage,1201.0,70.049958,24.284752,21.0,59.00,69.0,80.00,313.0
LotArea,1460.0,10516.828082,9981.264932,1300.0,7553.50,9478.5,11601.50,215245.0
OverallQual,1460.0,6.099315,1.382997,1.0,5.00,6.0,7.00,10.0
OverallCond,1460.0,5.575342,1.112799,1.0,5.00,5.0,6.00,9.0
YearBuilt,1460.0,1971.267808,30.202904,1872.0,1954.00,1973.0,2000.00,2010.0
YearRemodAdd,1460.0,1984.865753,20.645407,1950.0,1967.00,1994.0,2004.00,2010.0
MasVnrArea,1452.0,103.685262,181.066207,0.0,0.00,0.0,166.00,1600.0
BsmtFinSF1,1460.0,443.639726,456.098091,0.0,0.00,383.5,712.25,5644.0
BsmtFinSF2,1460.0,46.549315,161.319273,0.0,0.00,0.0,0.00,1474.0
BsmtUnfSF,1460.0,567.240411,441.866955,0.0,223.00,477.5,808.00,2336.0
TotalBsmtSF,1460.0,1057.429452,438.705324,0.0,795.75,991.5,1298.25,6110.0
1stFlrSF,1460.0,1162.626712,386.587738,334.0,882.00,1087.0,1391.25,4692.0
2ndFlrSF,1460.0,346.992466,436.528436,0.0,0.00,0.0,728.00,2065.0
LowQualFinSF,1460.0,5.844521,48.623081,0.0,0.00,0.0,0.00,572.0
GrLivArea,1460.0,1515.463699,525.480383,334.0,1129.50,1464.0,1776.75,5642.0
BsmtFullBath,1460.0,0.425342,0.518911,0.0,0.00,0.0,1.00,3.0
BsmtHalfBath,1460.0,0.057534,0.238753,0.0,0.00,0.0,0.00,2.0
FullBath,1460.0,1.565068,0.550916,0.0,1.00,2.0,2.00,3.0
HalfBath,1460.0,0.382877,0.502885,0.0,0.00,0.0,1.00,2.0
BedroomAbvGr,1460.0,2.866438,0.815778,0.0,2.00,3.0,3.00,8.0
KitchenAbvGr,1460.0,1.046575,0.220338,0.0,1.00,1.0,1.00,3.0
TotRmsAbvGrd,1460.0,6.517808,1.625393,2.0,5.00,6.0,7.00,14.0
Fireplaces,1460.0,0.613014,0.644666,0.0,0.00,1.0,1.00,3.0
GarageYrBlt,1379.0,1978.506164,24.689725,1900.0,1961.00,1980.0,2002.00,2010.0
GarageCars,1460.0,1.767123,0.747315,0.0,1.00,2.0,2.00,4.0
GarageArea,1460.0,472.980137,213.804841,0.0,334.50,480.0,576.00,1418.0
WoodDeckSF,1460.0,94.244521,125.338794,0.0,0.00,0.0,168.00,857.0
OpenPorchSF,1460.0,46.660274,66.256028,0.0,0.00,25.0,68.00,547.0
EnclosedPorch,1460.0,21.954110,61.119149,0.0,0.00,0.0,0.00,552.0
3SsnPorch,1460.0,3.409589,29.317331,0.0,0.00,0.0,0.00,508.0
ScreenPorch,1460.0,15.060959,55.757415,0.0,0.00,0.0,0.00,480.0
PoolArea,1460.0,2.758904,40.177307,0.0,0.00,0.0,0.00,738.0
MiscVal,1460.0,43.489041,496.123024,0.0,0.00,0.0,0.00,15500.0
MoSold,1460.0,6.321918,2.703626,1.0,5.00,6.0,8.00,12.0
YrSold,1460.0,2007.815753,1.328095,2006.0,2007.00,2008.0,2009.00,2010.0
SalePrice,1460.0,180921.195890,79442.502883,34900.0,129975.00,163000.0,214000.00,755000.0

In [16]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the data frame with missing values
        return mis_val_table_ren_columns

In [19]:
missing_values_table(train_data)

Your selected dataframe has 76 columns.
There are 14 columns that have missing values.

              Missing Values  % of Total Values
LotFrontage              259               17.7
GarageType                81                5.5
GarageYrBlt               81                5.5
GarageFinish              81                5.5
GarageQual                81                5.5
GarageCond                81                5.5
BsmtExposure              38                2.6
BsmtFinType2              38                2.6
BsmtQual                  37                2.5
BsmtCond                  37                2.5
BsmtFinType1              37                2.5
MasVnrType                 8                0.5
MasVnrArea                 8                0.5
Electrical                 1                0.1

In [18]:
# drop columns with more than 40% missing values
train_data.drop(['PoolQC','MiscFeature','Alley','Fence','FireplaceQu'], axis = 1, inplace = True)

In [20]:
# drop columns with more than 40% missing values
test_data.drop(['PoolQC','MiscFeature','Alley','Fence','FireplaceQu'], axis = 1, inplace = True)

In [21]:
train_data.dropna(subset=['Electrical','MasVnrArea','MasVnrType'], inplace = True, how = 'any')

In [22]:
missing_values_table(train_data)

Your selected dataframe has 76 columns.
There are 11 columns that have missing values.

              Missing Values  % of Total Values
LotFrontage              257               17.7
GarageType                81                5.6
GarageYrBlt               81                5.6
GarageFinish              81                5.6
GarageQual                81                5.6
GarageCond                81                5.6
BsmtExposure              38                2.6
BsmtFinType2              38                2.6
BsmtQual                  37                2.5
BsmtCond                  37                2.5
BsmtFinType1              37                2.5

Rest all data need to be imputed

In [23]:
# categorical and numerical
from sklearn.impute import SimpleImputer
from sklearn_pandas import CategoricalImputer

In [33]:
cat_imputer = CategoricalImputer()
mean_imputer = SimpleImputer(strategy = 'mean')

In [27]:
num_cols = train_data.select_dtypes(include = np.number).columns
cat_cols = train_data.select_dtypes(include = np.object).columns
Tnum_cols = test_data.select_dtypes(include = np.number).columns
Tcat_cols = test_data.select_dtypes(include = np.object).columns

In [30]:
print(num_cols,'\n',cat_cols)

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')
 Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond',
       'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [31]:
num_train = train_data[num_cols]
cat_train = train_data[cat_cols]

In [32]:
num_test = test_data[Tnum_cols]
cat_test = test_data[Tcat_cols]

In [34]:
mean_imputer.fit_transform(num_train)
mean_imputer.fit_transform(num_test)

array([[1.461e+03, 2.000e+01, 8.000e+01, ..., 0.000e+00, 6.000e+00,
        2.010e+03],
       [1.462e+03, 2.000e+01, 8.100e+01, ..., 1.250e+04, 6.000e+00,
        2.010e+03],
       [1.463e+03, 6.000e+01, 7.400e+01, ..., 0.000e+00, 3.000e+00,
        2.010e+03],
       ...,
       [2.917e+03, 2.000e+01, 1.600e+02, ..., 0.000e+00, 9.000e+00,
        2.006e+03],
       [2.918e+03, 8.500e+01, 6.200e+01, ..., 7.000e+02, 7.000e+00,
        2.006e+03],
       [2.919e+03, 6.000e+01, 7.400e+01, ..., 0.000e+00, 1.100e+01,
        2.006e+03]])

In [37]:
test_data['GarageType'] = cat_imputer.fit_transform(test_data['GarageType'])
test_data['GarageYrBlt'] = cat_imputer.fit_transform(test_data['GarageYrBlt'])
test_data['GarageFinish'] = cat_imputer.fit_transform(test_data['GarageFinish'])

test_data['GarageQual'] = cat_imputer.fit_transform(test_data['GarageQual'])

test_data['GarageCond'] = cat_imputer.fit_transform(test_data['GarageCond'])

test_data['BsmtCond'] = cat_imputer.fit_transform(test_data['BsmtCond'])

test_data['BsmtQual'] = cat_imputer.fit_transform(test_data['BsmtQual'])

test_data['BsmtExposure'] = cat_imputer.fit_transform(test_data['BsmtExposure'])

test_data['BsmtFinType1'] = cat_imputer.fit_transform(test_data['BsmtFinType1'])

test_data['BsmtFinType2'] = cat_imputer.fit_transform(test_data['BsmtFinType2'])

test_data['MasVnrType'] = cat_imputer.fit_transform(test_data['MasVnrType'])

test_data['MasVnrArea'] = cat_imputer.fit_transform(test_data['MasVnrArea'])

test_data['MSZoning'] = cat_imputer.fit_transform(test_data['MSZoning'])

test_data['BsmtFullBath'] = cat_imputer.fit_transform(test_data['BsmtFullBath'])
test_data['BsmtHalfBath'] = cat_imputer.fit_transform(test_data['BsmtHalfBath'])
test_data['Utilities'] = cat_imputer.fit_transform(test_data['Utilities'])
test_data['KitchenQual'] = cat_imputer.fit_transform(test_data['KitchenQual'])
test_data['Exterior2nd'] = cat_imputer.fit_transform(test_data['Exterior2nd'])
test_data['Exterior1st'] = cat_imputer.fit_transform(test_data['Exterior1st'])
test_data['SaleType'] = cat_imputer.fit_transform(test_data['SaleType'])

In [38]:
train_data['GarageType'] = cat_imputer.fit_transform(train_data['GarageType'])
train_data['GarageYrBlt'] = cat_imputer.fit_transform(train_data['GarageYrBlt'])
train_data['GarageFinish'] = cat_imputer.fit_transform(train_data['GarageFinish'])

train_data['GarageQual'] = cat_imputer.fit_transform(train_data['GarageQual'])

train_data['GarageCond'] = cat_imputer.fit_transform(train_data['GarageCond'])

train_data['BsmtCond'] = cat_imputer.fit_transform(train_data['BsmtCond'])

train_data['BsmtQual'] = cat_imputer.fit_transform(train_data['BsmtQual'])

train_data['BsmtExposure'] = cat_imputer.fit_transform(train_data['BsmtExposure'])

train_data['BsmtFinType1'] = cat_imputer.fit_transform(train_data['BsmtFinType1'])

train_data['BsmtFinType2'] = cat_imputer.fit_transform(train_data['BsmtFinType2'])

In [54]:
missing_values_table(test_data)

Your selected dataframe has 75 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [46]:
missing_values_table(train_data)

Your selected dataframe has 76 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [42]:
train_data['LotFrontage'] = mean_imputer.fit_transform(train_data[['LotFrontage']])

In [44]:
test_data['LotFrontage'] = mean_imputer.fit_transform(test_data[['LotFrontage']])

In [47]:
test_data['BsmtFinSF1'] = mean_imputer.fit_transform(test_data[['BsmtFinSF1']])

In [48]:
test_data['BsmtFinSF2'] = mean_imputer.fit_transform(test_data[['BsmtFinSF2']])

In [50]:
test_data['TotalBsmtSF'] = mean_imputer.fit_transform(test_data[['TotalBsmtSF']])

In [49]:
test_data['BsmtUnfSF'] = mean_imputer.fit_transform(test_data[['BsmtUnfSF']])

In [51]:
test_data['GarageCars'] = mean_imputer.fit_transform(test_data[['GarageCars']])

In [52]:
test_data['GarageArea'] = mean_imputer.fit_transform(test_data[['GarageArea']])

In [53]:
test_data['Functional'] = cat_imputer.fit_transform(test_data['Functional'])

In [55]:
train_data.shape

(1451, 76)

In [56]:
combine = pd.concat([train_data, test_data], ignore_index = True)

In [57]:
combine.shape

(2910, 76)

In [58]:
dummy_data = pd.get_dummies(combine)

In [59]:
dummy_data.shape

(2910, 272)

In [60]:
train_data = dummy_data.iloc[:1451]
test_data = dummy_data.iloc[1451:]

In [61]:
test_data = test_data.drop(['SalePrice'], axis = 1)

In [62]:
test_data.shape

(1459, 271)

In [63]:
train_data.shape

(1451, 272)

In [68]:
X_train = train_data.drop(['Id','SalePrice'], axis = 1)
y_train = train_data['SalePrice']

In [69]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 10)
principalcomp = pca.fit_transform(X_train)
principaltraindata = pd.DataFrame(data = principalcomp)

In [65]:
principaltestcomp = pca.fit_transform(test_data)
principaltestdata = pd.DataFrame(data = principaltestcomp)

In [70]:
from xgboost import XGBRegressor
model = XGBRegressor()

In [71]:
model.fit(principaltraindata,y_train)

[07:36:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [72]:
pred = model.predict(principaltestdata)

In [74]:
test_pred = pd.DataFrame(pred)

In [76]:
test_pred.columns = ['SalePrice']

In [86]:
test_pred.head()

          SalePrice    Id
1451  116490.445312  1461
1452  434708.062500  1462
1453  256523.859375  1463
1454  214086.812500  1464
1455  181455.390625  1465

In [83]:
test_pred.index = test_data.index

In [85]:
test_pred['Id'] = test_data['Id']

In [87]:
test_pred.shape

(1459, 2)

In [89]:
test_pred.to_csv('submission.csv', index = False)